* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.countdown-container {
  display: flex;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -1.5rem;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}


.countdown-el {
  text-align: center;
}

.countdown-el {
  font-size: 1.5rem;
}

